# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# Database / local files
*.db
*.sqlite
*.sqlite3
*.mdf
*.ldf

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
